@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');

:root{
  --primaryfont:'Poppins', sans-serif;
  --primaryfont-weight: 300;
  --secondaryfont-weight: 400;
  --primarybackground: #000000;
  --textcolor: #ffffff;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 425px) {
  /* Home page */
  .home{
    line-height: 32px !important;
    margin-left: 5px !important;
    padding-left: 10px !important;
  }
  .my-name{
    font-size: 22px !important;

  }
  .dev{
    font-size: 28px !important;
    line-height: 36px !important;
    padding-top: 5px !important;
  }
  .main{
    display: block !important;
    margin-top: 50px;
  }
  img{
    width: 300px !important;
    padding-right: 20px !important;
  }


  /* About page */
  .About{
    width: 100% !important;
  }
  .p-about{
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .aboutme{
    font-size: 24px !important;
    text-align: center;
  }
  .footer-about{
    margin-top: 100px !important;
  }
  .image-html{
    width: 20% !important;
    height: 50px !important;
  }
  /* Projects Page */
  .project-text{
    font-size: 16px !important;
    line-height: 24px !important;
  }
  /* Contact Page */
  .contact{
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .social{
    width: 20% !important;
    height: 50px !important;
  }
  .socials{
    width: 25% !important;
    height: 50px !important;
  }
}


body{
  /* background-color: var(--primarybackground); */
  background-color: darkslategray;
  color: var(--textcolor);
  /* overflow-x: hidden; */
}
.ham{
  width: 80%;
}
.navbar{
  width: 30%;
  display: flex;
  justify-content: space-between;
  /* float: right; */
  margin-bottom: 5px;
  margin-left: 10px;
}
.nav-link{
  /* border: 1px solid blanchedalmond; */
  padding: 10px;
}
.main{
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.my-name{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 24px;
  margin-bottom: 20px;
}
.dev{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 40px;
  padding-top: 20px;
  
}
img{
  padding-right: 70px;
  border-radius: 45%;
  box-sizing: border-box;
}
.my-work{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 21px;
  padding-top: 30px;
}
.home{
  margin-left: 10px;
  padding-left: 10px;
  width: 100%;
  line-height: 40px;
}
.footer-home{
  margin-top: 100px;
  text-align: center;
  font-size: 12px;
}
/* About page styling */
.About{
  width: 100%;
}
.p-about{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 36px;
  width: 90%;
}
.aboutme{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 36px;
  margin-top: 10px;
  width: 90%;
  margin-left: 10px;
}
.footer-about{
  margin-top: 170px;
  text-align: center;
  font-size: 12px;
}
.image-html{
  width: 2;
  height: 100px;
}
/* Project Page Styling */
.project-text{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 15px;
  line-height: 36px;
  width: 90%;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: burlywood;
}
a:hover{
  color: aquamarine;
}
/* Contact Page Styling */
.contact{
  font-family: var(--primaryfont);
  font-weight: var(--primaryfont-weight);
  font-size: 21px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 36px;
  width: 90%;
}
.footer-about1{
  margin-top: 230px;
  text-align: center;
  font-size: 12px;
}
.social{
  height: 70px;
}
.socials{
  height: 70px;
}
